/*
=================================================
Textarea
=================================================
*/
.jupo-textarea {
    --ta-input-bg: var(--input-bg, rgba(0, 0, 0, 0.35));
    --ta-input-bg-focus: var(--input-bg-focus, rgba(78, 164, 255, 0.1));

    --ta-input-border: var(--input-border, rgba(255, 255, 255, 0.1));
    --ta-input-border-focus: var(--input-border-focus, rgb(78, 164, 255));

    --ta-text-color: var(--text-primary, rgba(255, 255, 255, 0.85));
}

.jupo-textarea {
    box-sizing: border-box;
    padding: 10px 12px;

    background-color: var(--ta-input-bg);
    border: 1px solid var(--ta-input-border);
    border-radius: 2px;
    outline: none;

    color: var(--ta-text-color);
    font-size: 14px;
    letter-spacing: 0.02rem;
    resize: none;
}

.jupo-textarea:not(.jupo-textarea-readonly):focus {
    background-color: var(--ta-input-bg-focus);
    border-color: var(--ta-input-border-focus);
}
